// font-size (fz) {root font-size: 15px}
// mobile fz
$fz-title-very-big: 3rem; // 45px
$fz-title-big: 2.33rem; // 35px
$fz-title-medium: 2rem; // 30px
$fz-title-small: 1.66rem; // 25px
$fz-common-text: 0.66rem;
$fz-common-text-medium: 0.93rem; // 14px
$fz-common-text-big: 1.2rem; // 18px
$fz-common-text-very-big: 1.46rem; // 22px
$fz-button-text: 1.33rem; // 20px
// desctop fz
$fz-title-very-big-desc: 8rem; // 120px
$fz-title-big-desc: 4rem; // 60px
$fz-title-medium-desc: 2rem; //30px


// colors
$lightblue: #678FF2;
$blue: #5081ED;
$superLightblue: #6e94f5;